.main__header {
  box-shadow: 0 0.25rem 0.5rem -0.5rem var(--clr-neutral-600);
  &--div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    p {
      justify-self: start;
      font-weight: var(--fw-primary-bold);
      font-size: var(--fs-400);
    }
    button {
      color: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-self: end;
      border: 0;
      outline: 0;
      background-color: transparent;
      font-weight: var(--fw-primary-semi-bold);

      svg {
        fill: currentColor;
      }
    }
  }
}
